<div class="row">
  <div class="col-md-12">
    <h1>Landing Page</h1>
    <div class="panel panel-primary">
      <div class="panel-heading">Test Accounts</div>
      <ul class="list-group">
        <li class="list-group-item">Email: tester1@example.com, Password: 12345678</li>
        <li class="list-group-item">Email: tester2@example.com, Password: 12345678</li>
        <li class="list-group-item">Email: tester3@example.com, Password: 12345678</li>
      </ul>
    </div>
    <%= link_to 'All Events', events_path, class: 'btn btn-primary', role: 'button' %>
  </div>
</div>
