<%
   invited = Notification.where(event: event)
%>

<div class="row">
  <div class="col-md-12">
    <h1>Invited</h1>
    <% invited.each_slice(3) do |notifications| %>
    <div class="row">
      <% notifications.each do |notification| %>
      <div class="col-xs-3">
        <%= render 'users/avatar', user: notification.user, response: response_hash(notification) %>
      </div>
      <% end %>
    </div>
    <% end %>
    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to 'Invite More Friends', invite_event_path(event), class: 'btn btn-primary', role: 'button' %>
      </div>
    </div>
  </div>
</div>