<!-- Quick hack, will shift to CSS when done -->
<style>
.background {
  background-color: #CBCBCB;
  padding: 20px 20px 20px 20px;
}

.event-name {
  font-family: OpenSans-Bold;
  font-size: 36px;
  color: #000000;
  letter-spacing: 4px;
  line-height: 49px;
  display: inline;
}

.event-by {
  font-family: OpenSans-SemiboldItalic;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 27px;
  display: inline;
  margin-right: 10px;
}

.event-host {
  font-family: OpenSans-Bold;
  font-size: 36px;
  color: #000000;
  line-height: 49px;
  display: inline;
}

.event-time {
  font-family: OpenSans;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 4px;
  line-height: 27px;
}

.event-desc {
  font-family: OpenSans;
  font-size: 18px;
  color: #000000;
  line-height: 24px;
}

</style>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>

<div class="background">
  <p class="event-name">POOL PARTY</p> 
  <p class="event-by">BY</p>
  <p class="event-host">John Doe</p>
  <p class="event-time">4 to 6pm</p>
  <p class="event-desc">Chilling by the poolside</p>
  <a href="" class="btn btn-default">Accept</a>
  <a href="" class="btn btn-default">Decline</a>
</div>











