<div class="row">
  <div class="col-md-12">
    <h1>Invited</h1>
    <%= render 'card_invited', event: @event %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1>Friends</h1>
    <%= render 'invite_users', event: @event %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', event_path(@event), class: 'btn btn-default', role: 'button' %>
  </div>
</div>