<div class="row">
  <%= render 'gmaps' %>
  <%= render 'notification' %>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'Back', user_events_path, class: 'btn btn-default', role: 'button' %>
  </div>
</div>