<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= render 'card_full', event: @event %>
    <%= link_to 'Back', user_events_path, class: 'btn btn-default', role: 'button' %>
  </div>
</div>