<div class="row">
  <div class="col-md-12">
    <h2>My Events</h2>
    <%= render 'card' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Event', new_event_path, class: 'btn btn-primary', role: 'button' %>
  </div>
</div>