<div class="row">
<<<<<<< HEAD
  <div class="col-md-12">
    <h2>My Events</h2>
    <%= render 'card' %>
=======
  <div class="col-md-12 text-center">
    <%= link_to 'Create Event', new_event_path, class: 'btn btn-primary', role: 'button' %>
>>>>>>> 88ab44fefd0ee0032cfb2a6b5c027931b9c2e4db
  </div>
</div>

<% @events.each_slice(2) do |events| %>
<div class="row">
  <% events.each do |event| %>
  <div class="col-md-6">
    <%= render 'card_tile', event: event %>
  </div>
  <% end %>
</div>
<% end %>